.editForm {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.editForm input {
  margin-left: 20px;
  margin-bottom: 10px;
}

.editForm label {
  text-align: left;
  justify-content: start;
}

.App {
  margin-left: 4%;
  justify-content: center;
}
